.trigger {
  display: flex;
  overflow: hidden;
  flex-grow: 1;

  .list {
    overflow: auto;
    width: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    .search {
      margin: 4px;
    }

    .actions {
      margin: 4px;
    }

    .items {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .item {
        flex-grow: 0;
        display: flex;
        padding: 4px;

        &.active {
          background-color: #1b1c1d50;
        }

        &:hover {
          background-color: #1b1c1d75;
          cursor: pointer;
        }

        .content {
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          span {
            flex-grow: 1;
          }

          .tags {
            flex-wrap: wrap;

            .bp3-tag {
              margin: 1px;
            }
          }
        }

        .actions {

        }
      }
    }
  }

  .form {
    overflow: auto;
    flex-grow: 1;
    padding: 8px;

    .floating {
      margin-top: 16px;
      z-index: 10;
      position: sticky;
      bottom: 0;
    }
  }

}
