$color: #1b1c1d;
$width-mini: 32px;
$width-maxi: 200px;

.menu {
  flex-shrink: 0;
  height: 100%;
  width: $width-mini;
  background-color: $color;
  transition: width 0.2s, justify-content 0s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    display: flex;
    text-decoration: none;
    min-height: 20px;
  }

  .text {
    display: none;
    user-select: none;
  }

  .item {
    justify-content: center;
    &:focus {
      text-decoration: none;
      outline: none;
      border: none;
    }
  }

  &.full{
    width: $width-maxi;
    .text {
      display: block;
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    .item {
      color: rgba(255,255,255,.9);
      display: flex;
      align-items: center;
      justify-content: left;
      height: 40px;
      padding-left: 8px;
      cursor: pointer;
      width: 100%;

      &.active {
        background-color: darken($color, 2.5);
      }

      .text {
        color: rgba(255,255,255,.9);
        padding-left: 8px;
      }

      &:hover {
        .text {
          color: rgba(255,255,255,1);
        }
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: left;
      height: 32px;
      padding-left: 3px;

      .text {
        color: rgba(255,255,255,.9);
        padding-left: 8px;
      }
    }
  }

  .down {
    display: flex;
    flex-direction: column;

    .item {
      color: rgba(255, 255, 255, .9);
      display: flex;
      align-items: center;
      justify-content: left;
      height: 40px;
      padding-left: 8px;
      cursor: pointer;
      width: 100%;

      &.bottom {
        background-color: darken($color, 2);
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 0;
        display: flex;
      }

      &.active {
        background-color: darken($color, 2.5);
      }

      .text {
        color: rgba(255, 255, 255, .9);
        padding-left: 8px;
      }

      &:hover {
        .text {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
